@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,500;1,400&family=Kelly+Slab&display=swap');

body {
    background: url('trueimg/topphone12.jpeg')
    no-repeat center top;
    background-size: 100%;
    width: 100;
    height: 100;
    background-color:#000000;
    
   
}

div #imgFirst {
    width: 100px;
    height: 100px;
}
.imgFirstimg
{
    display: block;
    margin: auto;
    width: 19%;
    height: 19%;
}





ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: block;
    padding: 0 50px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: .5s;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s;
    padding: 10px;
    font-family: 'Kelly Slab', cursive;
}


ul:hover li a {
    filter: blur(5px);
}

ul:hover li a:hover {
    font-size: 30px;
    filter: blur(0px);
    background-color: #000000;
    color:#fff; 
    
  
}

.imgSecond
{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Kelly Slab', cursive;
   margin-left: 31px; 
   margin-top: 250px;
   margin-bottom: 424px;
}

/* Наверх */
.topbutton {
    width:100px;
    border:2px solid #a3a3a3;
    background:#000000;
    text-align:center;
    padding:7px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#ffffff;
    font-family:'Kelly Slab', cursive;
    font-size:18px;
    border-radius: 5px;
    }
    .topbutton:hover{
        color:#00bfff;
    }
@media screen, print {    
}
@media screen and ( max-width: 600px){
.img1{
display: none;
} 
}


/* РЕгистрация */
.but1{
    width:250px;
    border:2px solid #000000;
    background:#ffffff;
    text-align:center;
    padding:7px;
    position:absolute;
    top: 38px;
    right:70px;
    cursor:pointer;
    color:#000000;
    font-family:'Kelly Slab', cursive;
    font-size:18px;
    border-radius: 5px;
}
.but1:hover{
    color:#00bfff;
}




.thumb img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }

   
p 
{
    background: url('trueimg/qweasadadaqqqqqqqqqq.jpg')
    no-repeat right;
    background-size: 51%;
    width: 100;
    height: 100;
    padding-top: 300px;
    padding-bottom: 400px;
    color:#666
}


div #most {
    width: 300px;
    height: 300px;
}
.Kmost
{
    display: block;
    margin:auto;
    margin-top: 5px;
    margin-right: -8px;
    float: right;
    width: 42%;
    height: 42%;
    
}

div #Textmost
{
    width: 100;
    height: 100;
}

.TextBridge
{
    display: block;
    margin-top: 670px;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Kelly Slab', cursive;
    color:#ffffff;

}

.TextBridge2
{
    font-size: 35px;
    font-weight: 500;
    font-family: 'Kelly Slab', cursive;
    margin-left: 420px;
    color:#ffffff;
}



.TextCategory
{
    display:block;
  
    font-size: 40px;
    font-weight: 500;
    font-family: 'Kelly Slab', cursive;
    margin-top: 15%;
    text-align:center;
    color:#ffffff;
    
   


}
******************************************************************




/*Слайд шоу*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  max-height: 481px;
  position:relative;
  margin-top: 40px;
  margin-left: auto;
    margin-right: auto ;
    border-radius: 5px;
    border: 2px solid #ffffff;
   
}

/* Hide the images by default */
.mySlides {
    display: none;
    
   
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 254, 254, 0.8);
  color:#000000;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Kelly Slab';
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    letter-spacing:0.3em;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/* .selected{
    
    box-shadow: inset 0 0 17px #cca703;
  }
table {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    border-collapse:collapse;
    table-layout:fixed;
}
h1,
figcaption,
h2,

p {
    font-size: 27px;
    font-family: 'Cormorant Infant', serif;
}
caption {
    background-color: rgb(204, 167, 3);
    font-family: 'Kelly Slab', cursive;
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #cca703, #00bfff);
}
.novosti
{
    font-family: 'Cormorant Infant', serif;
 
}
tr,
td {
    padding: 3px;
    
    border: 1px solid rgb(0, 0, 0);
   
    font-weight: 700;
}
tr:nth-child(even) {
    background-color: #00bfff
}
tr:nth-child(odd) {
    background-color: #0155aa
}

th {
    padding: 3px;
  
    border: 1px solid rgb(0, 0, 0);
    
    text-align: left;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: rgb(0, 0, 139);
}
menu {
    font-family: 'Kelly Slab', serif;
    font-size: 20px;
}
.restor{
    margin-left: 2%;
    margin-right: 2%;
    
    font-family: 'Cormorant Infant', serif;

}
.slabo{
    color: #cca703;
    text-decoration:underline;
    cursor: pointer;
}
.home{
    background-color:#ffffff;
}
.img1 {
    position: sticky;
    top: 0; 
}
a{
    padding: 5px 15px; 
    text-decoration: none;
}
a:hover{
    background-color: #b3ecff;
    
}
li {
    color: rgb(0, 0, 139);
    display: inline;
     
    
   
}
li:hover {
    color: #cca703;
}
a {
    color: rgb(0, 0, 139);
    
}
a:hover {
    color: rgb(204, 167, 3);
}
label {
    color: rgb(204, 167, 3);
    font-size: x-large;
    font-weight: 500;
}
.jies{
    margin-left: 2%;
    margin-right: 2%;
    font-size:22px;
    font-family: 'Cormorant Infant', serif;
   font-weight: bolder;
   cursor: pointer;
    color:#cca703;
}
.h1y{
    color:#cca703;
    text-align: center;
}
video {
    width: 65%;
}
.but1{
    width:250px;
    border:2px solid #00bfff;
    background:#ffffff;
    text-align:center;
    padding:7px;
    position:absolute;
    bottom:430px;
    right:70px;
    cursor:pointer;
    color:#cca703;
    font-family:'Kelly Slab', cursive;
    font-size:18px;
    border-radius: 5px;
}
.but1:hover{
    color:#00bfff;
}
.topbutton {
    width:100px;
    border:2px solid #00bfff;
    background:#ffffff;
    text-align:center;
    padding:7px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#cca703;
    font-family:'Kelly Slab', cursive;
    font-size:18px;
    border-radius: 5px;
    }
    .topbutton:hover{
        color:#00bfff;
    }
@media screen, print {    
}
@media screen and ( max-width: 600px){
.img1{
display: none;
} 

    
}

.tick{
    color:#000000;
    text-decoration:underline;
    cursor: pointer;
}
.tick:hover{
    color:#cca703;
}


#tickets12{
	position: relative;
	display: inline-block;
}
    #tickets12:hover:after {
    content: attr(data-name);
    position: absolute;
    left: 0;
    bottom: 0;
    background: #cca703;
    color: #fff;
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    font-size: 27px;
    padding: 3px 0;
    width: 100%;
    text-decoration:underline;
    cursor: pointer;
    }


    .aside-text {
        display: flex;
        margin: 10px 0 0 0;
        width: 475px;
        height: 96px;
        background-color: #fff;
    }
    
    .aside-text2 {
        display: flex;
        color:rgb(0, 0, 0);
        margin: 10px 0 0 0;
        width: 475px;
        height: 96px;
        background-color: #fff;
    }
    
    .big-font {
        font-size: 30px;
        transition: 1s;
        text-align: center;
    }
    
    .lil-font{
        transition: 1s;
    }
    

    .menu-under1{
        display: none;  
        padding-left: 15px;
    }
    
    .menu-under2{
        display: none;
        padding-left: 15px;
    }
    
    .menu-under3{
        display: none;
        padding-left: 15px;
    }
    